body.p{
    margin: 0em;
    padding: 0em;
}

nav{
    display: flex;
    justify-content: space-around;
    width: 20%;
    margin-left: auto;
    padding: 2em;
}
nav a{
    color: black;
    text-decoration: none;
}
nav img{
    height: 20px;
}
main{
    width: 50%;
    margin: 6.9em auto;
    margin-bottom: 9em;
    text-align: center;
}
input{
    width: 80%;
    padding: 1em;
    border-radius: 70px;
    border: 1px solid gray;
}
.btn-container{
    margin-top: 1em;
}
.btn-container button{
    padding: 1em;
    border: none;
}
.footer-bottom{
    padding: 1em;
    padding-left: 0em;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid gray;
}
.left a{
    margin-right: 1em;
}
.right a{
    margin-right: 1em;
}